* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

img {
  display: block;
  max-width: 100%; /* para não estourar o conteine  */
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;/* esta propriedade mostra para o brawser que vai mudar*/
}

.slide li {
  /* o flex-shrink faz com que eles diminua para caber dentro do conteine, paraa não acontecer isso eu coloco como 0 */
  flex-shrink: 0; 
  width: 80vw;/* vai ter 80% da tela */
  max-width: 800px;
  margin: 0 20px;

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.arrow-nav button {
  padding: 10px 40px;
  border: none;
  border-radius: 8px;
  background: #dfdf20;
  color: #1a1a1a;
  font-size: .90rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(51, 51, 51, .4);
  cursor: pointer;
}

.arrow-nav button + button {
  margin-left: 20px;
}